In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2021-01-22 01:00:34,27.9769,-114.0611,63.41,59,0,7.81
1,1,Mount Gambier,AU,2021-01-22 01:00:39,-37.8333,140.7667,69.80,56,100,11.50
2,2,Vila Franca Do Campo,PT,2021-01-22 01:00:39,37.7167,-25.4333,55.99,82,20,3.44
3,3,Mamlyutka,KZ,2021-01-22 01:00:39,54.9375,68.5394,-15.07,89,75,8.81
4,4,Burla,IN,2021-01-22 01:00:39,21.5000,83.8667,55.11,42,0,3.80

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
!jupyter nbextension list

Known nbextensions:

      - Validating: ok
      - Validating: ok

  config dir: C:\Users\Stephens Family\.jupyter\nbconfig
    notebook section
      jupyter-gmaps/extension enabled
  config dir: C:\Users\Stephens Family\anaconda3\envs\PythonData\etc\jupyter\nbconfig
    notebook section
      jupyter-js-widgets/extension enabled

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Sao Filipe,CV,2021-01-22 01:00:40,14.8961,-24.4956,72.57,71,100,7.43
13,13,Busselton,AU,2021-01-22 01:00:40,-33.6500,115.3333,79.00,55,0,3.00
14,14,Coahuayana,MX,2021-01-22 01:00:41,18.7333,-103.6833,84.20,51,40,9.22
16,16,Wajid,SO,2021-01-22 01:00:41,3.8093,43.2471,75.36,73,14,22.86
25,25,East London,ZA,2021-01-22 01:00:43,-33.0153,27.9116,72.41,83,0,15.46
27,27,Acarau,BR,2021-01-22 01:00:43,-2.8856,-40.1200,79.09,80,100,12.71
29,29,Saint-Philippe,RE,2021-01-22 01:00:43,-21.3585,55.7679,80.60,74,20,3.44
31,31,Faanui,PF,2021-01-22 01:00:19,-16.4833,-151.7500,81.50,74,5,17.25
39,39,Alofi,NU,2021-01-22 01:00:45,-19.0595,-169.9187,86.00,74,0,10.36
46,46,Rawson,AR,2021-01-22 01:00:46,-43.3002,-65.1023,75.96,46,0,12.37

In [12]:
preferred_cities_df.count()

City_ID       209
City          209
Country       207
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8       Sao Filipe      CV     72.57  14.8961  -24.4956
13       Busselton      AU     79.00 -33.6500  115.3333
14      Coahuayana      MX     84.20  18.7333 -103.6833
16           Wajid      SO     75.36   3.8093   43.2471
25     East London      ZA     72.41 -33.0153   27.9116
27          Acarau      BR     79.09  -2.8856  -40.1200
29  Saint-Philippe      RE     80.60 -21.3585   55.7679
31          Faanui      PF     81.50 -16.4833 -151.7500
39           Alofi      NU     86.00 -19.0595 -169.9187
46          Rawson      AR     75.96 -43.3002  -65.1023

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined